* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

ol,
ul {
  list-style: none;
}

body,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar:hover {
  background-color: #ccc;
}
::-webkit-scrollbar-track {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
  border-radius: 5px;
}

a {
  color: #5584ff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.user-setting-wrap {
  .el-form-item__label {
    width: 95px;
    text-align: right;
    margin-right: 20px;
    float: left;
    line-height: 40px;
    padding: 0;
  }
  .user-sign .el-textarea,
  .user-sign .el-textarea .el-textarea__inner {
    width: 618px;
    height: 88px;
    resize: none;
    float: left;
  }
  .user-my-btn-wrap {
    float: left;
    width: 789px;
    height: 36px;
    position: relative;
  }
}

.padding-dom {
  height: 39px;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 1px solid #e1e2e5;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-size: 100%;
}
